flows.json
[{"id":"1aff7a31.b903f6","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"91c4690.7670998","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":360,"y":180,"wires":[["43ce2521.164a4c"]]},{"id":"152ebc70.f0ede4","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["91c4690.7670998"]]},{"id":"5859a73e.51b6a8","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"43ce2521.164a4c","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_1/DATA","contentFormat":"application/xml","name":"IndoorTemp_1","x":620,"y":180,"wires":[["5859a73e.51b6a8"]]},{"id":"1d668bbe.d7d924","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":410,"y":380,"wires":[["b94559f.c7a32a8"]]},{"id":"8e682180.8abee","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["1d668bbe.d7d924"]]},{"id":"4a958db3.ec46c4","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":400,"wires":[]},{"id":"b94559f.c7a32a8","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_1/DATA","contentFormat":"application/xml","name":"OutdoorTemp_1","x":650,"y":380,"wires":[["4a958db3.ec46c4"]]},{"id":"703d3e76.36f48","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":370,"y":600,"wires":[["ff05fb78.e36d28"]]},{"id":"1aa6c326.99358d","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":600,"wires":[["703d3e76.36f48"]]},{"id":"59d22067.39fed","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"ff05fb78.e36d28","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_2/DATA","contentFormat":"application/xml","name":"IndoorTemp_2","x":630,"y":600,"wires":[["59d22067.39fed"]]},{"id":"8ff27452.bc05b8","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":420,"y":800,"wires":[["cba2e9ec.fb0a78"]]},{"id":"1ab5e0d5.69f95f","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":800,"wires":[["8ff27452.bc05b8"]]},{"id":"27744165.3fca3e","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"cba2e9ec.fb0a78","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_2/DATA","contentFormat":"application/xml","name":"OutdoorTemp_2","x":660,"y":800,"wires":[["27744165.3fca3e"]]},{"id":"655c81d3.dc26e","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1020,"wires":[]},{"id":"85ba879d.2c6438","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_1/DATA","contentFormat":"application/xml","name":"Window_1","x":700,"y":1000,"wires":[["655c81d3.dc26e"]]},{"id":"d3a8ede2.150d3","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":250,"y":1020,"wires":[["137f62a2.f8232d"]]},{"id":"137f62a2.f8232d","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1020,"wires":[["85ba879d.2c6438"]]},{"id":"79bc3eb5.21f25","type":"CSE_CONFIG","cse":"MN-CSE","poa":"http://127.0.0.1:8080","cseId":"mn-cse","cseName":"mn-name","adminOriginator":"6778e955.591d08"},{"id":"6778e955.591d08","type":"ORIGINATOR_CONFIG","originatorName":"admin","originator":"admin:admin"}]