flows.json
[{"id":"1aff7a31.b903f6","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"91c4690.7670998","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":350,"y":60,"wires":[["43ce2521.164a4c"]]},{"id":"152ebc70.f0ede4","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["91c4690.7670998"]]},{"id":"5859a73e.51b6a8","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":80,"wires":[]},{"id":"43ce2521.164a4c","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_1/DATA","contentFormat":"application/xml","name":"IndoorTemp_1","x":620,"y":60,"wires":[["5859a73e.51b6a8"]]},{"id":"1d668bbe.d7d924","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":370,"y":140,"wires":[["b94559f.c7a32a8"]]},{"id":"8e682180.8abee","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["1d668bbe.d7d924"]]},{"id":"4a958db3.ec46c4","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"b94559f.c7a32a8","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_1/DATA","contentFormat":"application/xml","name":"OutdoorTemp_1","x":610,"y":140,"wires":[["4a958db3.ec46c4"]]},{"id":"703d3e76.36f48","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":370,"y":360,"wires":[["ff05fb78.e36d28"]]},{"id":"1aa6c326.99358d","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["703d3e76.36f48"]]},{"id":"59d22067.39fed","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":380,"wires":[]},{"id":"ff05fb78.e36d28","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_2/DATA","contentFormat":"application/xml","name":"IndoorTemp_2","x":630,"y":360,"wires":[["59d22067.39fed"]]},{"id":"8ff27452.bc05b8","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":390,"y":440,"wires":[["cba2e9ec.fb0a78"]]},{"id":"1ab5e0d5.69f95f","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["8ff27452.bc05b8"]]},{"id":"27744165.3fca3e","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":460,"wires":[]},{"id":"cba2e9ec.fb0a78","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_2/DATA","contentFormat":"application/xml","name":"OutdoorTemp_2","x":630,"y":440,"wires":[["27744165.3fca3e"]]},{"id":"77b75712.8e1a98","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"eafae806.a926c8","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_2/DATA","contentFormat":"application/xml","name":"Window_2","x":620,"y":520,"wires":[["77b75712.8e1a98"]]},{"id":"d186f699.c48728","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":150,"y":540,"wires":[["90c04f57.e7d83"]]},{"id":"90c04f57.e7d83","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":540,"wires":[["eafae806.a926c8"]]},{"id":"5335fc8d.2b7a44","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":840,"wires":[]},{"id":"c134d445.cb0ba8","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_3/DATA","contentFormat":"application/xml","name":"Window_3","x":640,"y":820,"wires":[["5335fc8d.2b7a44"]]},{"id":"3a867d51.d3b2d2","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":190,"y":840,"wires":[["504c5758.acbac8"]]},{"id":"504c5758.acbac8","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":840,"wires":[["c134d445.cb0ba8"]]},{"id":"2d64e176.56f04e","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1180,"wires":[]},{"id":"6025e515.f726fc","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_4/DATA","contentFormat":"application/xml","name":"Window_4","x":660,"y":1160,"wires":[["2d64e176.56f04e"]]},{"id":"f76a485.5f960b8","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":210,"y":1180,"wires":[["44034c57.5c7184"]]},{"id":"44034c57.5c7184","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1180,"wires":[["6025e515.f726fc"]]},{"id":"f44c689.52d3198","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1520,"wires":[]},{"id":"8a649982.bc0958","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_5/DATA","contentFormat":"application/xml","name":"Window_5","x":600,"y":1500,"wires":[["f44c689.52d3198"]]},{"id":"51c95daa.80b6c4","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":150,"y":1520,"wires":[["a5118efd.d33c9"]]},{"id":"a5118efd.d33c9","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1520,"wires":[["8a649982.bc0958"]]},{"id":"af368e2.a0b837","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"10eca84.138bb58","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/Window_1/DATA","contentFormat":"application/xml","name":"Window_1","x":600,"y":200,"wires":[["af368e2.a0b837"]]},{"id":"a2c88152.c7851","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":150,"y":220,"wires":[["261fe70c.8dda38"]]},{"id":"261fe70c.8dda38","type":"function","z":"1aff7a31.b903f6","name":"","func":"const MIN = 0;\n\n\nconst MAX = 1;\n\n\n//The maximum is exclusive and the minimum is inclusive\n\n\n \n\n\nswitch (msg.payload) {\n\n\n\ncase \"undefined\" :\n\n\nmsg.payload = undefined;\n\n\nbreak;\n\n\n\ncase \"null\" :\n\n\nmsg.payload = null;\n\n\nbreak;\n\n\n\ncase \"random\" :\n\n\nmsg.payload =function getRandomInt(min = MIN, max = MAX) {\n\n\n  return Math.random() * (max - min) + min;\n\n\n}();\n\n\nbreak;\n\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["10eca84.138bb58"]]},{"id":"73736982.125848","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":390,"y":680,"wires":[["d1e75e06.8a81f"]]},{"id":"b1de8a94.6d6a48","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["73736982.125848"]]},{"id":"63178944.10fec8","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":700,"wires":[]},{"id":"d1e75e06.8a81f","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_3/DATA","contentFormat":"application/xml","name":"IndoorTemp_3","x":650,"y":680,"wires":[["63178944.10fec8"]]},{"id":"b444580d.b567a8","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":410,"y":760,"wires":[["24f7ef47.c9c5"]]},{"id":"3de3a0b1.4344e","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":760,"wires":[["b444580d.b567a8"]]},{"id":"ba635267.cf78b","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":780,"wires":[]},{"id":"24f7ef47.c9c5","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_3/DATA","contentFormat":"application/xml","name":"OutdoorTemp_3","x":650,"y":760,"wires":[["ba635267.cf78b"]]},{"id":"dd5310ae.ae691","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":390,"y":1020,"wires":[["3ee8e507.7a059a"]]},{"id":"9de1ea56.cd9b58","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1020,"wires":[["dd5310ae.ae691"]]},{"id":"205526c2.afa35a","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"3ee8e507.7a059a","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_4/DATA","contentFormat":"application/xml","name":"IndoorTemp_4","x":650,"y":1020,"wires":[["205526c2.afa35a"]]},{"id":"42927eb9.1cd1d","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":410,"y":1100,"wires":[["46ec9d1e.ce6964"]]},{"id":"8ad60bed.ce86e8","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1100,"wires":[["42927eb9.1cd1d"]]},{"id":"43305917.a56028","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1120,"wires":[]},{"id":"46ec9d1e.ce6964","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_4/DATA","contentFormat":"application/xml","name":"OutdoorTemp_4","x":650,"y":1100,"wires":[["43305917.a56028"]]},{"id":"c8bdd55d.9da598","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":370,"y":1360,"wires":[["90f920f1.ecf1c"]]},{"id":"2130b7d4.4b3e28","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1360,"wires":[["c8bdd55d.9da598"]]},{"id":"c9771642.2a88e8","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1380,"wires":[]},{"id":"90f920f1.ecf1c","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/IndoorTemp_5/DATA","contentFormat":"application/xml","name":"IndoorTemp_5","x":630,"y":1360,"wires":[["c9771642.2a88e8"]]},{"id":"b1a01fd0.aa6ae","type":"Fake Sensor","z":"1aff7a31.b903f6","name":"FakeSensor","minValue":"-10","maxValue":"40","x":390,"y":1440,"wires":[["cc8ce4fb.f1b878"]]},{"id":"4faf34de.9c87bc","type":"inject","z":"1aff7a31.b903f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1440,"wires":[["b1a01fd0.aa6ae"]]},{"id":"fefcaa01.e8ff88","type":"debug","z":"1aff7a31.b903f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1460,"wires":[]},{"id":"cc8ce4fb.f1b878","type":"Content Instance","z":"1aff7a31.b903f6","cseConfig":"79bc3eb5.21f25","parentUri":"/mn-cse/mn-name/OutdoorTemp_5/DATA","contentFormat":"application/xml","name":"OutdoorTemp_5","x":630,"y":1440,"wires":[["fefcaa01.e8ff88"]]},{"id":"79bc3eb5.21f25","type":"CSE_CONFIG","cse":"MN-CSE","poa":"http://127.0.0.1:8080","cseId":"mn-cse","cseName":"mn-name","adminOriginator":"6778e955.591d08"},{"id":"6778e955.591d08","type":"ORIGINATOR_CONFIG","originatorName":"admin","originator":"admin:admin"}]